img{
	width: 100%;
}
.show{
background-color: #4A7966;
width: 100px ;
height:30px;
color:white;
}
.blanco{
  background-color: white;
  border: 2px solid black;
  width: 110px;
  height: 30px;
  display: inline-block;
}
.negro{
background-color: black;
width: 110px ;
height:40px;
margin-left: 400px;
margin-top: 40px;
margin-bottom: 40px;
}
.top{
  margin-top: -10px;
}
.negro2{
background-color: black;
width: 110px ;
height:30px;
color:grey;
font-size: 10px;
margin-left: 50px;
padding-top: 5px;
padding-right: 20px;
}
.plomo{
  color:grey;
}
.banner{
  background-image: url(../img/background/hero.jpg);
  background-size: cover;
  position: relative;
  height: 600px;
}
.boton{
  margin-top: 70px;
  margin-left:300px;

}
#porta{
  border:2px solid #343A39;
  width: 150px;
  height: 50px;
  background-color:#343A39;
  padding-top:13px;
  


}
#lear{
    border:2px solid #797F7E;
  width: 150px;
  height: 50px;
  background-color:#797F7E;
  padding-top: 13px;

}
h1{
  margin-bottom: 40px;
}
.prime{
  margin-top: 30px;
  margin-bottom: 140px;
}
#before{
  background-color:rgba(0,0,0, 0.37);
  position: absolute;
  height: 100%;
  color: white;
  margin-left: 2px;
}
#vuelo{
  color:green;
  font-size: 20px;
}

.cuadro{
  padding-left: 10px;
  padding-right: 10x;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 2px solid black;
  background-color: white;
  text-align: center;
  height: 425px;
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 180px;
  margin-left: 10px;
  border: 1px solid silver;

}
.black{
  width: 200px;
  background-color: black;
  color: white;
  text-align:center;
  height: 50px;
  padding-top: 10px;
}

.celes{
  width: 200px;
  background-color:#3BC4B8;
  color: white;
  text-align:center;
  height: 50px;
  padding-top: 10px;
}

#iconos{
  color: #3FA48E;
  font-size: 40px;
  }
  #iconos2{
  color: #3FA48E;
  font-size: 30px;
  margin-left: -40px;
  }
#textos{
  text-align: center;
  padding:50px;
  background-color: white;
}
#gray{
  background-color: #DFE3E4;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  padding-top: 40px;
  text-align: center;
}
.gray{
  background-color: #DFE3E4;
  padding-bottom: 30px;
  padding-top: 40px;
  text-align: center;
  margin-top: 45px;
}
.selfi{
  border-radius: 100%;
  width: 180px;
  margin-left: 100px;
}
.dolar{
  background-color: #DFE3E4;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 35px;
  padding-bottom: 30px;
  text-align:center;
  width: 200px;
  margin-bottom: 25px;
  height: 80px;
}
.hero{
  height: 500px;
}

p{
  color:grey;
}
.enlace{
  text-align: center;
  margin-top: 30px;
}
#center{
  text-align: center;
}
#centro{
  margin: center;
}
h1{
  text-align: center;
}

.foto{
  padding: 10px;
  border: 2px solid #DFE3E4;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  text-align: left;
  
}
#grey{
  background-color: grey;
}
.concepto{
  text-align: center;
}

.blue{
  color:#52E5FC;
}

.redes{
  width: 40px;
  height: 40px;
  margin-left:20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
a{
  text-decoration: none;
  margin-left: 20px;
  margin-top: 20px;
  color:white;
  text-align: center;
  font-size: 16px;
}
a:hover{
  color: #8AEBE3;
}