img{
	width: 100%;
}
span{
  font-size: 25px;
}
#show{
background-color: #4A7966;
width: 100px ;
height:30px;
color:white;
margin-right: 10px;
padding-top: 5px;
}
#blanco{
background-color: white;
width: 120px ;
height:30px;
color:black;
margin-right: 10px;
padding-top: 5px;
}
.ban{
  background-image:url(../img/background/contactus.jpg);
  background-size: cover;
  position: relative;
  height: 600px;
}
.negro{
background-color: black;
width: 110px ;
height:40px;
margin-left: 460px;
margin-top: 40px;
margin-bottom: 40px;
}
.top{
  margin-top: -10px;
}
.negro2{
background-color: black;
width: 110px ;
height:30px;
color:grey;
font-size: 10px;
margin-left: 70px;
padding-top: 5px;
padding-right: 20px;
}
.ciudad{
  font-size: 25px;
  text-align: center;
  margin-top: 200px;

}
.ciuda{
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
}
.plomo{
  color:grey;
}
.bane{
  background-image:url(../img/background/city.jpg);
  background-size: cover;
  position: relative;
  height: 600px;
}
.banner{
  background-image: url(../img/background/hero.jpg);
  background-size: cover;
  position: relative;
  height: 600px;
}
.boton{
  margin-top: 70px;
  margin-left:300px;

}
#porta{
  border:2px solid #343A39;
  width: 150px;
  height: 50px;
  background-color:#343A39;
  padding-top:13px;
  


}
#lear{
    border:2px solid #797F7E;
  width: 150px;
  height: 50px;
  background-color:#797F7E;
  padding-top: 13px;

}
h1{
  margin-bottom: 40px;
}
.prime{
  margin-top: 30px;
  margin-bottom: 140px;
}
#before{
  background-color:rgba(0,0,0, 0.37);
  position: absolute;
  height: 100%;
  color: white;
  margin-left: 2px;
}
#vuelo{
  color:green;
  font-size: 20px;
}

.cuadro{
padding: 30px;
  border: 2px solid #DFE3E4;
  background-color: white;
  text-align: center;
  height: 425px;
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1px solid silver;

}
.black{
  width: 255px;
  background-color: black;
  color: white;
  text-align:center;
  height: 50px;
  padding-top: 10px;
}

.celes{
  width: 255px;
  background-color:#3BC4B8;
  color: white;
  text-align:center;
  height: 50px;
  padding-top: 10px;
}

#iconos{
  color: #3FA48E;
  font-size: 40px;
  }
  #iconos2{
  color: #3FA48E;
  font-size: 30px;
  margin-left: -40px;
  }
#textos{
  text-align: center;
  padding:50px;
  background-color: white;
}
#call{
  
  font-size: 20px;
  margin-left: -250px;
  margin-right: 15px;
}
#location{
  font-size: 20px;
  margin-right: 15px;
  margin-left: -140px;
}
.titulo{
  margin-top: 40px;
}
.follow{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
#sociales{
  text-align: center;
  margin-top: 30px;
}
.white{
  color:white;
}
.bluee{
  background-color: #42D9D2;
  width: 110px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
}
.email{
  width: 400px;
  height: 40px;
  background-color: grey;
  opacity: 0.5;
  margin-bottom: 10px;
}
.mensaje{
  width: 400px;
  height: 200px;
  background-color: grey;
  opacity: 0.5;
  margin-bottom: 10px;
}
.white1{
  color: white;
  text-align: left;
  padding-bottom: 30px;
}
.us{
  margin-top: 10px;
  margin-bottom: 40px;
}
h5{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
#gray{
  background-color: #DFE3E4;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  padding-top: 40px;
  text-align: center;
  margin-bottom: 50px;
}
.gray{
  background-color: #DFE3E4;
  padding: 50px;
  text-align: center;
   
  
}
.grays{
  background-color: #DFE3E4;
  padding: 50px;
  text-align: center;
   margin-top: 70px;
  
}
.selfi{
  border-radius: 100%;
  width: 100px;
  margin-left: 490px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.dolar{
  background-color: #DFE3E4;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 35px;
  padding-bottom: 30px;
  text-align:center;
  width: 255px;
  margin-bottom: 25px;
  height: 80px;
}
.hero{
  height: 500px;
}

p{
  color:grey;
}
.enlace{
  text-align: center;
  margin-top: 30px;
}
#center{
  text-align: center;
}
#centro{
  margin: center;
}
h1{
  text-align: center;
}

.foto{
  padding: 10px;
  border: 2px solid #DFE3E4;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  text-align: left;
}
#grey{
  background-color: grey;
}
.concepto{
  text-align: center;
}

.blue{
  color:#52E5FC;
}

.redes{
  width: 28px;
  height: 30px;
  margin-left:20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.taciti{
  margin-top:-20px;
  margin-bottom: 40px;
}
p{
  text-align: center;
}
h4{
  text-align: center;
}
a{
  text-decoration: none;
  margin-left: 20px;
  margin-top: 20px;
  color:white;
  text-align: center;
  font-size: 16px;
}
a:hover{
  color: #8AEBE3;
}
#copy{
  height: 60px;
  background-color: black;
  color: white;
  padding-top: 30px;
}
.what{
  margin-top: 70px;
}